<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- START Move Fragment -->
<div th:fragment="move(move, index)">
    <!--/*@thymesVar id="move" type="com.willstep.ptutools.dataaccess.dto.Move"*/-->
    <label class="control-label control-label-title">
        <input class="form-control form-control-sm" type="text" th:id="'move-' + ${index} + '-name'"
               th:name="'moves[' + ${index} + '].name'" th:value="${move.name}"/>
    </label>
    <span class="control-action">
      <button type="button" class="btn" onclick="onClickDeleteMove(this)">
          <img src="/img/icons/delete-forever-outline.png" alt="Delete">
      </button>
    </span>
    <div class="row row-slim mt-4">
        <div class="form-group label-floating col-sm-4">
            <label class="control-label" th:for="'move-' + ${index} + '-type'">Type</label>
            <input class="form-control" type="text" th:id="'move-' + ${index} + '-type'"
                   data-autocomplete="type" onchange="changeMoveTypeColor(this)"
                   th:name="'moves[' + ${index} + '].type'" th:value="${move.type}" />
        </div>
        <div class="form-group label-floating col-sm-4">
            <label class="control-label" th:for="'move-' + ${index} + '-class'">Class</label>
            <select class="form-control" th:id="'move-' + ${index} + '-class'"
                    th:name="'moves[' + ${index} + '].damageClass'" th:value="${move.damageClass}">
                <option th:value="'Physical'" th:selected="${move.damageClass} == 'Physical'">Physical</option>
                <option th:value="'Special'" th:selected="${move.damageClass} == 'Special'">Special</option>
                <option th:value="'Status'" th:selected="${move.damageClass} == 'Status'">Status</option>
            </select>
        </div>
        <div class="form-group label-floating col-sm-4">
            <label class="control-label" th:for="'move-' + ${index} + '-freq'">Frequency</label>
            <input class="form-control" type="text" th:id="'move-' + ${index} + '-freq'"
                   th:name="'moves[' + ${index} + '].frequency'" th:value="${move.frequency}" />
        </div>

        <div class="form-group label-floating col-sm-6">
            <label class="control-label" th:for="'move-' + ${index} + '-range'">Range</label>
            <input class="form-control" type="text" th:id="'move-' + ${index} + '-range'"
                   th:name="'moves[' + ${index} + '].range'" th:value="${move.range}" />
        </div>
        <div class="form-group label-floating col-sm-3 col-6">
            <label class="control-label" th:for="'move-' + ${index} + '-ac'">AC</label>
            <input class="form-control" type="number" th:id="'move-' + ${index} + '-ac'"
                   th:name="'moves[' + ${index} + '].accuracyCheck'" th:value="${move.accuracyCheck}" />
        </div>
        <div class="form-group label-floating col-sm-3 col-6">
            <label class="control-label" th:for="'move-' + ${index} + '-db'">DB</label>
            <button type="button" class="btn control-action" data-toggle="tooltip" data-placement="top" data-html="true"
                    th:id="'move-' + ${index} + '-db-tooltip'" title="No DB entered"
                    data-db-formula="" onclick="onClickDbTooltip(this)"
                    th:data-subscribe="'move-' + ${index} + '-db,move-' + ${index} + '-class,char-stat-spatk-total,char-stat-atk-total'" data-subscribe-callback="buildDBTooltip">
                <img src="/img/icons/help-rhombus-outline.png" alt="View Die Formula" />
            </button>
            <input class="form-control" type="number" th:id="'move-' + ${index} + '-db'" data-db-tooltip
                   th:name="'moves[' + ${index} + '].damageBase'" th:value="${move.damageBase}" />
        </div>

        <div class="row row-slim col-12 collapse move-collapse show" th:id="'move-' + ${index} + '-collapse'">
            <div class="form-group label-floating col-sm-3 col-6">
                <label class="control-label" th:for="'move-' + ${index} + '-crit'">Crits On</label>
                <input class="form-control" type="number" th:id="'move-' + ${index} + '-crit'"
                       th:name="'moves[' + ${index} + '].critsOn'" th:value="${move.critsOn}" />
            </div>
            <div class="form-group label-floating custom-checkbox col-sm-3 col-6">
                <label class="control-label" th:for="'move-' + ${index} + '-stab'">Has STAB?</label>
                <input class="form-control custom-control-input" type="checkbox" th:id="'move-' + ${index} + '-stab'"
                       th:name="'moves[' + ${index} + '].stab'" th:value="${move.stab}" th:checked="${move.stab}"
                       onclick="onClickToggleStab(this)" />
                <span class="custom-control-label"></span>
            </div>
            <div class="form-group label-floating col-sm-6">
                <label class="control-label" th:for="'move-' + ${index} + '-contest'">Contest Type/Effect</label>
                <input class="form-control" type="text" th:id="'move-' + ${index} + '-contest'"
                       th:value="${move.contestType ?: ''} + ' / ' + ${move.contestEffect ?: ''}"
                       onchange="onChangeMoveContest(this)"/>
                <input type="hidden" th:name="'moves[' + ${index} + '].contestType'" th:value="${move.contestType}"/>
                <input type="hidden" th:name="'moves[' + ${index} + '].contestEffect'" th:value="${move.contestEffect}"/>
            </div>

            <div class="form-group label-floating col-sm-12">
                <label class="control-label" th:for="'move-' + ${index} + '-effect'">Effect</label>
                <textarea class="form-control" type="text" th:id="'move-' + ${index} + '-effect'"
                          th:name="'moves[' + ${index} + '].effects'" th:text="${move.effects}"></textarea>
            </div>
        </div>
    </div>
    <button type="button" class="btn control-action control-action-bottom text-danger"
            data-toggle="collapse" th:data-target="'#move-'+${index}+'-collapse'" aria-expanded="false" th:aria-controls="'move-'+${index}+'-collapse'">
        Show More
    </button>
</div>

<!-- START Ability Fragment -->
<div th:fragment="ability(ability, index)">
    <!--/*@thymesVar id="ability" type="com.willstep.ptutools.dataaccess.dto.Ability"*/-->
    <label class="control-label control-label-title">
        <input class="form-control form-control-sm" type="text" th:id="'ability-' + ${index} + '-name'"
               th:name="'abilities[' + ${index} + '].name'" th:value="${ability.name}" />
    </label>
    <span class="control-action">
      <button type="button" class="btn" onclick="onClickDeleteAbility(this)">
          <img src="/img/icons/delete-forever-outline.png" alt="Delete">
      </button>
    </span>
    <div class="row row-slim mt-4">
        <div class="form-group label-floating col-sm-6">
            <label class="control-label" th:for="'ability-' + ${index} + '-freq'">Frequency</label>
            <input class="form-control" type="text" th:id="'ability-' + ${index} + '-freq'"
                   th:name="'abilities[' + ${index} + '].frequency'" th:value="${ability.frequency}" />
        </div>
        <div class="form-group label-floating col-sm-6">
            <label class="control-label" th:for="'ability-' + ${index} + '-target'">Target</label>
            <input class="form-control" type="text" th:id="'ability-' + ${index} + '-target'"
                   th:name="'abilities[' + ${index} + '].target'" th:value="${ability.target}" />
        </div>
        <div class="form-group label-floating col-sm-12">
            <label class="control-label" th:for="'ability-' + ${index} + '-trigger'">Trigger</label>
            <input class="form-control" type="text" th:id="'ability-' + ${index} + '-trigger'"
                   th:name="'abilities[' + ${index} + '].trigger'" th:value="${ability.trigger}" />
        </div>
        <div class="form-group label-floating col-sm-12">
            <label class="control-label" th:for="'ability-' + ${index} + '-effect'">Effect</label>
            <textarea class="form-control" th:id="'ability-' + ${index} + '-effect'"
                      th:name="'abilities[' + ${index} + '].effect'" th:text="${ability.effect}"></textarea>
        </div>
    </div>
</div>

<!-- START Poke Edge Fragment -->
<div th:fragment="pokeedge(edge, index)">
    <!--/*@thymesVar id="edge" type="com.willstep.ptutools.dataaccess.dto.PokeEdge"*/-->
    <label class="control-label control-label-title">
        <input class="form-control form-control-sm" type="text" th:id="'pokeedge-' + ${index} + '-name'"
               th:name="'pokeEdges[' + ${index} + '].name'" th:value="${edge.name}" />
    </label>
    <span class="control-action">
      <button type="button" class="btn" onclick="onClickDeletePokeEdge(this)">
          <img src="/img/icons/delete-forever-outline.png" alt="Delete">
      </button>
    </span>
    <div class="row row-slim mt-4">
        <div class="form-group label-floating col-sm-3">
            <label class="control-label" th:for="'pokeedge-' + ${index} + '-cost'">Cost</label>
            <input class="form-control" type="text" th:id="'pokeedge-' + ${index} + '-cost'"
                   th:name="'pokeEdges[' + ${index} + '].cost'" th:value="${edge.cost}" />
        </div>
        <div class="form-group label-floating col-sm-9">
            <label class="control-label" th:for="'pokeedge-' + ${index} + '-prereq'">Prerequisites</label>
            <input class="form-control" type="text" th:id="'pokeedge-' + ${index} + '-prereq'"
                   th:name="'pokeEdges[' + ${index} + '].prerequisites'" th:value="${edge.prerequisites}" />
        </div>
        <div class="form-group label-floating col-sm-12">
            <label class="control-label" th:for="'pokeedge-' + ${index} + '-effect'">Effect</label>
            <textarea class="form-control" th:id="'pokeedge-' + ${index} + '-effect'"
                      th:name="'pokeEdges[' + ${index} + '].effect'" th:text="${edge.effect}"></textarea>
        </div>
    </div>
</div>

<!-- START Notes &amp; Extras -->
<div th:fragment="note(note, index)">
    <!--/*@thymesVar id="note" type="com.willstep.ptutools.dataaccess.dto.Note"*/-->
    <input type="hidden" th:name="'notes[' + ${index} + '].title'" th:value="${note.title}" />
    <input type="hidden" th:name="'notes[' + ${index} + '].body'" th:value="${note.body}" />
    <div class="card-header" th:id="'headingNote'+ ${index}">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    th:data-target="'#collapseNote'+ ${index}" aria-expanded="true" th:aria-controls="'collapseNote'+ ${index}">
                <span class="note-title" th:text="${note.title}"></span>
                <span class="material-icons-outlined">expand_more</span>
            </button>
            <span class="btn-group">
                <button class="btn btn-link note-btn-edit" type="button" title="Edit Title" onclick="onNoteEditTitle(this)">
                    <span class="material-icons-outlined">edit</span>
                </button>
                <button class="btn btn-link note-btn-delete" type="button" title="Delete" onclick="onClickDeleteNote(this)">
                    <span class="material-icons-outlined">delete_forever</span>
                </button>
            </span>
        </h2>
    </div>

    <div th:id="'collapseNote'+ ${index}" class="collapse show" th:aria-labelledby="'headingNote'+ ${index}" data-parent="#accordionNotes">
        <div class="card-body">
            <div class="quill-editor" th:text="${note.body}"></div>
        </div>
    </div>
</div>

<div th:fragment="moveLearnset(levelUpMoves, machineMoves, eggMoves, tutorMoves)">
    <!--/*@thymesVar id="levelUpMoves" type="java.util.List<kotlin.Pair<com.willstep.ptutools.dataaccess.dto.Move, int>>"*/-->
    <!--/*@thymesVar id="machineMoves" type="java.util.List<com.willstep.ptutools.dataaccess.dto.Move>"*/-->
    <!--/*@thymesVar id="eggMoves" type="java.util.List<com.willstep.ptutools.dataaccess.dto.Move>"*/-->
    <!--/*@thymesVar id="tutorMoves" type="java.util.List<com.willstep.ptutools.dataaccess.dto.Move>"*/-->
    <h5 class="text-muted text-center">Level-Up Moves</h5>
    <hr/>
    <div class="accordion" id="accordionMoves-lvlUp">
        <div class="card move-item" th:each="pair, iStat: *{levelUpMoves}" th:id="'move-levelUp-' + ${iStat.index}" th:data-index="${iStat.index}">
            <div th:replace="fragments/characterFormFragments :: moveLearnsetItem(move=${pair.first}, learnedAt=${pair.second}, section='lvlUp', index=${iStat.index})"></div>
        </div>
    </div>
    <h5 class="text-muted text-center mt-3">TM/HM Moves</h5>
    <hr/>
    <div class="accordion" id="accordionMoves-machine">
        <div class="card move-item" th:each="move, iStat: *{machineMoves}" th:id="'move-machine-' + ${iStat.index}" th:data-index="${iStat.index}">
            <div th:replace="fragments/characterFormFragments :: moveLearnsetItem(move=${move}, learnedAt='', section='machine', index=${iStat.index})"></div>
        </div>
    </div>
    <h5 class="text-muted text-center mt-3">Egg Moves</h5>
    <hr/>
    <div class="accordion" id="accordionMoves-egg">
        <div class="card move-item" th:each="move, iStat: *{eggMoves}" th:id="'move-egg-' + ${iStat.index}" th:data-index="${iStat.index}">
            <div th:replace="fragments/characterFormFragments :: moveLearnsetItem(move=${move}, learnedAt='', section='egg', index=${iStat.index})"></div>
        </div>
    </div>
    <h5 class="text-muted text-center mt-3">Tutor Moves</h5>
    <hr/>
    <div class="accordion" id="accordionMoves-tutor">
        <div class="card move-item" th:each="move, iStat: *{tutorMoves}" th:id="'move-tutor-' + ${iStat.index}" th:data-index="${iStat.index}">
            <div th:replace="fragments/characterFormFragments :: moveLearnsetItem(move=${move}, learnedAt='', section='tutor', index=${iStat.index})"></div>
        </div>
    </div>
</div>

<div th:fragment="moveSearchResults(moves)">
    <!--/*@thymesVar id="moves" type="java.util.List<com.willstep.ptutools.dataaccess.dto.Move>"*/-->
    <div class="accordion" id="accordionMoves-search">
        <div class="card move-item" th:each="move, iStat: *{moves}" th:id="'move-search-' + ${iStat.index}" th:data-index="${iStat.index}">
            <div th:replace="fragments/characterFormFragments :: moveLearnsetItem(move=${move}, learnedAt='', section='search', index=${iStat.index})"></div>
        </div>
    </div>
</div>

<div th:fragment="moveLearnsetItem(move, learnedAt, section, index)">
    <!--/*@thymesVar id="move" type="com.willstep.ptutools.dataaccess.dto.Move"*/-->
    <script th:inline="javascript">
        /*[+
        moveCache['[(${#strings.replace(#strings.replace(move.name, ' (N)', ''), '§ ', '')})]'] = [[${move}]];
         +]*/
    </script>
    <div class="card-header" id="headingMove1">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    th:data-target="'#collapseMove-' + ${section} + ${index}" aria-expanded="false" th:aria-controls="'collapseMove-' + ${section} + ${index}">
                <span class="note-title">
                    <span th:text="${move.name}"></span>
                    <span th:class="'badge ml-1 bg-t-' + ${#strings.toLowerCase(move.type)}" th:text="${move.type}"></span>
                    <small th:if="${section == 'lvlUp'}" th:text="${learnedAt} == -1 ? 'EVOLUTION' : 'LVL ' + ${learnedAt}"></small>
                </span>
                <span class="material-icons-outlined">expand_more</span>
            </button>
            <span class="btn-group">
                <button class="btn btn-outline-default btn-sm" type="button" title="Learn" th:data-name="${#strings.replace(#strings.replace(move.name, ' (N)', ''), '§ ', '')}"
                        onclick="addMoveByMoveJson(moveCache[this.getAttribute('data-name')]); $('#moveLookupModal').modal('hide')">
                    Learn
                </button>
            </span>
        </h2>
    </div>

    <div th:id="'collapseMove-' + ${section} + ${index}" class="collapse" th:aria-labelledby="'headingMove-' + ${section} + ${index}"
         th:data-parent="'#accordionMoves-' + ${section}">
        <div class="card-body">
            <div class="row row-slim">
                <div class="form-group label-floating col-sm-4">
                    <label class="control-label" th:for="'move-'+${section}+'-'+${index}+'-type'">Type</label>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                    <input class="form-control ui-autocomplete-input" type="text" th:id="'move-'+${section}+'-'+${index}+'-type'"
                           th:value="${move.type}">
                </div>
                <div class="form-group label-floating col-sm-4">
                    <label class="control-label" th:for="'move-'+${section}+'-'+${index}+'-class'">Class</label>
                    <select class="form-control" th:id="'move-'+${section}+'-'+${index}+'-class'" th:value="${move.damageClass}">
                        <option th:value="'Physical'" th:selected="${move.damageClass} == 'Physical'">Physical</option>
                        <option th:value="'Special'" th:selected="${move.damageClass} == 'Special'">Special</option>
                        <option th:value="'Status'" th:selected="${move.damageClass} == 'Status'">Status</option>
                    </select>
                </div>
                <div class="form-group label-floating col-sm-4">
                    <label class="control-label" th:for="'move-'+${section}+'-'+${index}+'-freq'">Frequency</label>
                    <input class="form-control" type="text" th:id="'move-'+${section}+'-'+${index}+'-freq'" th:value="${move.frequency}">
                </div>

                <div class="form-group label-floating col-sm-6">
                    <label class="control-label" th:for="'move-'+${section}+'-'+${index}+'-range'">Range</label>
                    <input class="form-control" type="text" th:id="'move-'+${section}+'-'+${index}+'-range'" th:value="${move.range}">
                </div>
                <div class="form-group label-floating col-sm-3 col-6">
                    <label class="control-label" th:for="'move-'+${section}+'-'+${index}+'-ac'">AC</label>
                    <input class="form-control" type="number" th:id="'move-'+${section}+'-'+${index}+'-ac'" th:value="${move.accuracyCheck}">
                </div>
                <div class="form-group label-floating col-sm-3 col-6">
                    <label class="control-label" th:for="'move-'+${section}+'-'+${index}+'-db'">DB</label>
                    <input class="form-control" type="number" th:id="'move-'+${section}+'-'+${index}+'-db'" data-db-tooltip="" th:value="${move.damageBase}">
                </div>

                <div class="form-group label-floating col-sm-3 col-6">
                    <label class="control-label" th:for="'move-'+${section}+'-'+${index}+'-crit'">Crits On</label>
                    <input class="form-control" type="number" th:id="'move-'+${section}+'-'+${index}+'-crit'" th:value="${move.critsOn}">
                </div>
                <div class="form-group label-floating custom-checkbox col-sm-3 col-6">
                    <label class="control-label" th:for="'move-'+${section}+'-'+${index}+'-stab'">Has STAB?</label>
                    <input class="form-control custom-control-input" type="checkbox" th:id="'move-'+${section}+'-'+${index}+'-stab'"
                           th:value="${move.stab}" th:checked="${move.stab}">
                    <span class="custom-control-label"></span>
                </div>
                <div class="form-group label-floating col-sm-6">
                    <label class="control-label" th:for="'move-'+${section}+'-'+${index}+'-contest'">Contest Type/Effect</label>
                    <input class="form-control" type="text" th:id="'move-'+${section}+'-'+${index}+'-contest'"
                           th:value="${move.contestType ?: ''} + ' / ' + ${move.contestEffect ?: ''}">
                    <input type="hidden" th:value="${move.contestType}">
                    <input type="hidden" th:value="${move.contestEffect}">
                </div>

                <div class="form-group label-floating col-sm-12">
                    <label class="control-label" th:for="'move-'+${section}+'-'+${index}+'-effect'">Effect</label>
                    <textarea class="form-control" type="text" th:id="'move-'+${section}+'-'+${index}+'-effect'"
                              th:text="${move.effects}"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="abilityLearnset(abilityLearnset)">
    <!--/*@thymesVar id="abilityLearnset" type="java.util.List<com.willstep.ptutools.dataaccess.dto.PokedexEntry.AbilityLearnset>"*/-->
    <h5 class="text-muted text-center">Basic Abilities</h5>
    <hr/>
    <div class="accordion" id="accordionAbilities-basicAbilities">
        <div class="card move-item" th:each="ability, iStat: ${abilityLearnset.basicAbilities}" th:id="'ability-basic-' + ${iStat.index}" th:data-index="${iStat.index}">
            <div th:replace="fragments/characterFormFragments :: abilityLearnsetItem(ability=${ability}, section='basicAbilities', index=${iStat.index})"></div>
        </div>
    </div>
    <h5 class="text-muted text-center mt-3">Advanced Abilities</h5>
    <hr/>
    <div class="accordion" id="accordionAbilities-advancedAbilities">
        <div class="card move-item" th:each="ability, iStat: ${abilityLearnset.advancedAbilities}" th:id="'ability-adv-' + ${iStat.index}" th:data-index="${iStat.index}">
            <div th:replace="fragments/characterFormFragments :: abilityLearnsetItem(ability=${ability}, section='advancedAbilities', index=${iStat.index})"></div>
        </div>
    </div>
    <h5 class="text-muted text-center mt-3">High Abilities</h5>
    <hr/>
    <div class="accordion" id="accordionAbilities-highAbilities">
        <div class="card move-item" th:each="ability, iStat: ${abilityLearnset.highAbilities}" th:id="'ability-high-' + ${iStat.index}" th:data-index="${iStat.index}">
            <div th:replace="fragments/characterFormFragments :: abilityLearnsetItem(ability=${ability}, section='highAbilities', index=${iStat.index})"></div>
        </div>
    </div>
</div>

<div th:fragment="abilitySearchResults(abilities)">
    <!--/*@thymesVar id="abilities" type="java.util.List<com.willstep.ptutools.dataaccess.dto.Move>"*/-->
    <div class="accordion" id="accordionAbilities-search">
        <div class="card ability-item" th:each="ability, iStat: *{abilities}" th:id="'ability-search-' + ${iStat.index}" th:data-index="${iStat.index}">
            <div th:replace="fragments/characterFormFragments :: abilityLearnsetItem(ability=${ability}, section='search', index=${iStat.index})"></div>
        </div>
    </div>
</div>

<div th:fragment="abilityLearnsetItem(ability, section, index)">
    <!--/*@thymesVar id="ability" type="com.willstep.ptutools.dataaccess.dto.Ability"*/-->
    <script th:inline="javascript">
        /*[+
        window.abilityCache['[(${ability.name})]'] = [[${ability}]];
         +]*/
    </script>
    <div class="card-header" id="headingAbility1">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    th:data-target="'#collapseAbility-' + ${section} + ${index}" aria-expanded="false" th:aria-controls="'collapseAbility-' + ${section} + ${index}">
                <input class="form-control form-control-sm text-default border-default col-8 d-inline" type="text" th:id="'ability-' +${section}+'-' + ${index} + '-name'"
                       th:name="'pokedexEntry.abilityLearnset.'+${section}+'[' + ${index} + '].name'" th:value="${ability.name}" />
                <span class="material-icons-outlined">expand_more</span>
            </button>
            <span class="btn-group">
                <button class="btn btn-outline-default btn-sm mt-1" type="button" title="Learn" th:data-name="${ability.name}"
                        onclick="addAbilityByAbilityJson(abilityCache[this.getAttribute('data-name')]); $('#abilityLookupModal').modal('hide')">
                    Learn
                </button>
            </span>
        </h2>
    </div>

    <div th:id="'collapseAbility-' + ${section} + ${index}" class="collapse" th:aria-labelledby="'headingAbility-' + ${section} + ${index}"
         th:data-parent="'#accordionAbilities-' + ${section}">
        <div class="card-body">
            <div class="row row-slim">
                <div class="form-group label-floating col-sm-6">
                    <label class="control-label" th:for="'ability-' +${section}+'-' + ${index} + '-freq'">Frequency</label>
                    <input class="form-control" type="text" th:id="'ability-' +${section}+'-' + ${index} + '-freq'"
                           th:name="'pokedexEntry.abilityLearnset.'+${section}+'[' + ${index} + '].frequency'" th:value="${ability.frequency}" />
                </div>
                <div class="form-group label-floating col-sm-6">
                    <label class="control-label" th:for="'ability-' +${section}+'-' + ${index} + '-target'">Target</label>
                    <input class="form-control" type="text" th:id="'ability-' +${section}+'-' + ${index} + '-target'"
                           th:name="'pokedexEntry.abilityLearnset.'+${section}+'[' + ${index} + '].target'" th:value="${ability.target}" />
                </div>
                <div class="form-group label-floating col-sm-12">
                    <label class="control-label" th:for="'ability-' +${section}+'-' + ${index} + '-trigger'">Trigger</label>
                    <input class="form-control" type="text" th:id="'ability-' +${section}+'-' + ${index} + '-trigger'"
                           th:name="'pokedexEntry.abilityLearnset.'+${section}+'[' + ${index} + '].trigger'" th:value="${ability.trigger}" />
                </div>
                <div class="form-group label-floating col-sm-12">
                    <label class="control-label" th:for="'ability-' +${section}+'-' + ${index} + '-effect'">Effect</label>
                    <textarea class="form-control" th:id="'ability-' +${section}+'-' + ${index} + '-effect'"
                              th:name="'pokedexEntry.abilityLearnset.'+${section}+'[' + ${index} + '].effect'" th:text="${ability.effect}"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

</html>