<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="text-center mt-5">
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'U7U1CHAYD');kofiwidget2.draw();</script>
    <small class="mt-2 mt-md-0 ml-md-2 d-block d-md-inline">
        <a href="https://www.reddit.com/r/PokemonTabletop/comments/1cii046/pokesheets_a_ptu_pokemon_generator_and_sheet/" target="_blank">About</a> |
        <a href="#" onclick="alert('Your input is super valuable, I want to make this for you! You can leave feedback on the GitHub (click the GitHub link and go to issues) or in the Discord!')">
            Request Feature/Report Bug</a> |
        <a href="https://github.com/fedorablewill/ptu-tools" target="_blank">GitHub</a> |
        <a href="https://discord.gg/kSzJjzErQS" target="_blank">Discord</a> |
        <a href="https://twitch.tv/fedorablewill" target="_blank">Twitch</a> |
        <a href="/policy">Privacy Policy</a>
    </small>
</footer>
</html>