.bg-dark {
    background-color: #434343 !important;
}

.char-section-title hr {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.modal-body hr {
    margin-top: 0;
    margin-bottom: 0.5rem;
    max-width: 220px;
}

.navbar {
    margin-bottom: 1rem;
}

.form-skill-die {
    width: 2.5rem;
    display: inline-block;
}

.form-skill-bonus {
    width: 3rem;
    display: inline-block;
}

.custom-checkbox label {
    padding-bottom: 50px;
    z-index: 50;
    background: none;
}

.custom-checkbox .custom-control-label {
    margin-bottom: 0;
    position: absolute;
    left: 44px;
    top: 0.75rem;
}


.navbar .control-label {
    background-color: #f5365c;
}

.control-action {
    border: none;
    position: absolute;
    font-size: .7rem;
    background: #434343;
    right: 12px;
    top: -0.5rem;
}

button.control-action, .control-action button {
    border: none;
    background: #434343;
    cursor: pointer;
    font-size: .7rem;
    padding: 0 4px;
    margin: 0;
}

.control-action-bottom {
    top: unset;
    bottom: -0.5rem;
}

.control-action>button:not(:last-child) {
    padding-right: 0;
    margin: 0;
}

.control-action img {
    height: 1rem;
}

.btn-form {
    width: inherit;
}

.char-picture {
    background: white;
    position: absolute;
    height: 85px;
    left: 0;
    width: 85px;
    padding: 1rem;
}

.char-picture img {
    width: 100%;
    height: auto;
}

#char-picture-shiny {
    position: absolute;
    right: 6px;
    bottom: 6px;
    font-size: 16px;
    color: #ffeb3a;
}

.navbar {
    padding-left: 110px;
    height: 85px;
}

.nav-link .material-icons-outlined {
    line-height: 0.5rem;
}

.form-table {
    border: 2px solid #cad1d7;
    border-radius: .25rem;
}

.form-table td:not(.form-group), .form-table th {
    padding: 0.5rem;
}

.form-table td {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.row-slim {
    margin-right: -5px;
    margin-left: -5px;
}

.row-slim>div {
    padding-left: 5px;
    padding-right: 5px;
}

.border-none {
    border-color: transparent !important;
}

.tag_complete {
    background: none;
    height: 3.2rem;
}

ul.autocomplete {
    color: #0a0c0d;
}

#stats input {
    min-width: 3.5rem;
}

.btn-save {
    width: 46px;
    height: 46px;
    padding: initial;
}

.btn-link {
    color: #172b4d;
}

.accordion .card {
    background: none;
}

.accordion .card-header {
    padding: 0.25rem 0.5rem;
    background-color: #f5365c!important;
}

.accordion .card-header .btn-group {
    position: absolute;
    top: 0.1rem;
    right: 0.625rem;
}

.accordion .card-header .btn-link {
    padding: .625rem;
}

.accordion .card-header .btn-link .material-icons-outlined {
    font-size: initial;
}

.accordion .card-header .btn-block .material-icons-outlined {
    font-size: 20px;
}

#accordionNotes .card-body {
    background: white;
    color: black;
    padding: 0.5rem;
}

.card-header .btn-sm {
    top: 10px;
    position: relative;
}

.ql-container {
    font-family: inherit !important;
}

.ql-bubble .ql-tooltip {
    background-color: #212529 !important;
    z-index: 10;
    padding-left: 12px;
}

.ql-bubble .ql-toolbar .ql-formats:first-child {
    margin-left: 0 !important;
}

@media (max-width: 575px) {
    #stats table input[type=number] {
        -moz-appearance:textfield;
    }
}