.bg-t-normal {
    background-color: #A8A878;
    color: white;
}

.bg-t-fire {
    background-color: #F08030;
    color: white;
}

.bg-t-fighting {
    background-color: #C03028;
    color: white;
}

.bg-t-flying {
    background-color: #A890F0;
    color: white;
}

.bg-t-poison {
    background-color: #A040A0;
    color: white;
}

.bg-t-ground {
    background-color: #E0C068;
    color: white;
}

.bg-t-rock {
    background-color: #B8A038;
    color: white;
}

.bg-t-bug {
    background-color: #A8B820;
    color: white;
}

.bg-t-ghost {
    background-color: #705898;
    color: white;
}

.bg-t-steel {
    background-color: #B8B8D0;
    color: white;
}

.bg-t-water {
    background-color: #6890F0;
    color: white;
}

.bg-t-grass {
    background-color: #78C850;
    color: white;
}

.bg-t-electric {
    background-color: #F8D030;
    color: white;
}

.bg-t-psychic {
    background-color: #F85888;
    color: white;
}

.bg-t-ice {
    background-color: #98D8D8;
    color: white;
}

.bg-t-dragon {
    background-color: #7038F8;
    color: white;
}

.bg-t-dark {
    background-color: #705848;
    color: white;
}

.bg-t-fairy {
    background-color: #EE99AC;
    color: white;
}

.bg-t-none {
    background-color: #68A090;
    color: white;
}

.bg-t-normal-gradient {
    background: linear-gradient(87deg, #A8A878 0, #bdbbab 100%) !important;
}

.bg-t-fire-gradient {
    background: linear-gradient(87deg, #fb6340 0, #F08030 100%) !important;
}

.bg-t-fighting-gradient {
    background: linear-gradient(87deg, #C03028 0, #964440 100%) !important;
}

.bg-t-flying-gradient {
    background: linear-gradient(87deg, #A890F0 0, #6956a2 100%) !important;
}

.bg-t-poison-gradient {
    background: linear-gradient(87deg, #A040A0 0, #573666 100%) !important;
}

.bg-t-ground-gradient {
    background: linear-gradient(87deg, #E0C068 0, #ae9f0e 100%) !important;
}

.bg-t-rock-gradient {
    background: linear-gradient(87deg, #B8A038 0, #a88d6d 100%) !important;
}

.bg-t-bug-gradient {
    background: linear-gradient(87deg, #A8B820 0, #c9c017 100%) !important;
}

.bg-t-ghost-gradient {
    background: linear-gradient(87deg, #705898 0, #4c435c 100%) !important;
}

.bg-t-steel-gradient {
    background: linear-gradient(87deg, #B8B8D0 0, #6f6f83 100%) !important;
}

.bg-t-water-gradient {
    background: linear-gradient(87deg, #6890F0 0, #1e9ab3 100%) !important;
}

.bg-t-grass-gradient {
    background: linear-gradient(87deg, #78C850 0, #107f4f 100%) !important;
}

.bg-t-electric-gradient {
    background: linear-gradient(87deg, #F8D030 0, #a8a112 100%) !important;
}

.bg-t-psychic-gradient {
    background: linear-gradient(87deg, #F85888 0, #b92896 100%) !important;
}

.bg-t-ice-gradient {
    background: linear-gradient(87deg, #98D8D8 0, #5a8ca6 100%) !important;
}

.bg-t-dragon-gradient {
    background: linear-gradient(87deg, #7038F8 0, #f217bd 100%) !important;
}

.bg-t-dark-gradient {
    background: linear-gradient(87deg, #705848 0, #6b3030 100%) !important;
}

.bg-t-fairy-gradient {
    background: linear-gradient(87deg, #EE99AC 0, #c50f88 100%) !important;
}

.bg-t-none-gradient {
    background: linear-gradient(87deg, #68A090 0, #625698 100%) !important;
}

.border-t-normal, .border-t-normal .form-control {
    border-color: #A8A878 !important;
}

.border-t-fire, .border-t-fire .form-control {
    border-color: #F08030 !important;
}

.border-t-fighting, .border-t-fighting .form-control {
    border-color: #C03028 !important;
}

.border-t-flying, .border-t-flying .form-control {
    border-color: #A890F0 !important;
}

.border-t-poison, .border-t-poison .form-control {
    border-color: #A040A0 !important;
}

.border-t-ground, .border-t-ground .form-control {
    border-color: #E0C068 !important;
}

.border-t-rock, .border-t-rock .form-control {
    border-color: #B8A038 !important;
}

.border-t-bug, .border-t-bug .form-control {
    border-color: #A8B820 !important;
}

.border-t-ghost, .border-t-ghost .form-control {
    border-color: #705898 !important;
}

.border-t-steel, .border-t-steel .form-control {
    border-color: #B8B8D0 !important;
}

.border-t-water, .border-t-water .form-control {
    border-color: #6890F0 !important;
}

.border-t-grass, .border-t-grass .form-control {
    border-color: #78C850 !important;
}

.border-t-electric, .border-t-electric .form-control {
    border-color: #F8D030 !important;
}

.border-t-psychic, .border-t-psychic .form-control {
    border-color: #F85888 !important;
}

.border-t-ice, .border-t-ice .form-control {
    border-color: #98D8D8 !important;
}

.border-t-dragon, .border-t-dragon .form-control {
    border-color: #7038F8 !important;
}

.border-t-dark, .border-t-dark .form-control {
    border-color: #705848 !important;
}

.border-t-fairy, .border-t-fairy .form-control {
    border-color: #EE99AC !important;
}

.border-t-none, .border-t-none .form-control {
    border-color: #68A090 !important;
}

.text-t-normal, .form-table.border-t-normal .control-label .form-control {
    color: #A8A878;
}

.text-t-fire, .form-table.border-t-fire .control-label .form-control {
    color: #F08030;
}

.text-t-fighting, .form-table.border-t-fighting .control-label .form-control {
    color: #C03028;
}

.text-t-flying, .form-table.border-t-flying .control-label .form-control {
    color: #A890F0;
}

.text-t-poison, .form-table.border-t-poison .control-label .form-control {
    color: #A040A0;
}

.text-t-ground, .form-table.border-t-ground .control-label .form-control {
    color: #E0C068;
}

.text-t-rock, .form-table.border-t-rock .control-label .form-control {
    color: #B8A038;
}

.text-t-bug, .form-table.border-t-bug .control-label .form-control {
    color: #A8B820;
}

.text-t-ghost, .form-table.border-t-ghost .control-label .form-control {
    color: #705898;
}

.text-t-steel, .form-table.border-t-steel .control-label .form-control {
    color: #B8B8D0;
}

.text-t-water, .form-table.border-t-water .control-label .form-control {
    color: #6890F0;
}

.text-t-grass, .form-table.border-t-grass .control-label .form-control {
    color: #78C850;
}

.text-t-electric, .form-table.border-t-electric .control-label .form-control {
    color: #F8D030;
}

.text-t-psychic, .form-table.border-t-psychic .control-label .form-control {
    color: #F85888;
}

.text-t-ice, .form-table.border-t-ice .control-label .form-control {
    color: #98D8D8;
}

.text-t-dragon, .form-table.border-t-dragon .control-label .form-control {
    color: #7038F8;
}

.text-t-dark, .form-table.border-t-dark .control-label .form-control {
    color: #705848;
}

.text-t-fairy, .form-table.border-t-fairy .control-label .form-control {
    color: #EE99AC;
}

.text-t-none, .form-table.border-t-none .control-label .form-control {
    color: #68A090;
}

/*
    Common Components
 */

body {
    background-color: #434343;
    color: white;
    padding-bottom: 2rem;
}

h2, h3, h4 {
    color: #e9ecef;
}

hr {
    border-top: .0625rem solid rgba(255, 255, 255, 0.1);
}

.w-100 {
    max-width: 100% !important;
}

.material-icons-outlined {
    position: relative;
    bottom: -0.3rem;
    line-height: 1rem;
}

.form-control {
    background: none;
    color: #cad1d7;
}

.form-control:disabled, .form-control[readonly] {
    opacity: 1;
    background: none;
    border-color: rgba(50,151,211,.25);
}

.focused .form-control {
    border-color: #cad1d7;
}

.form-group {
    position: relative;
    margin-top: 0.5rem;
}

.form-inline.form-group {
    margin: 0;
}

.control-label {
    position: absolute;
    text-transform: uppercase;
    font-size: .7rem;
    background-color: #434343;
    left: 12px;
    top: -0.5rem;
    padding: 0 4px;
    margin-bottom: 0;
    z-index: 1;
}

.control-label-title {
    font-size: 1rem;
    top: -0.75rem;
}

.control-label-title input {
    font-weight: bold;
}

.modal-header.bg-danger, .modal-header.bg-dark, .modal-footer.bg-danger, .modal-footer.bg-dark {
    border-color: rgba(255, 255, 255, 0.1);
}

.exodus-title img {
    position: relative;
    bottom: 25px;
    width: 400px;
    max-width: 100%;
}

.exodus-title .exodus-title-text {
    display: inline-block;
}

.exodus-title h1 {
    line-height: 1;
}

.custom-checkbox-lone {
    margin-left: 30px;
}

input[disabled] {
    -moz-appearance:textfield;
}

.toast-container {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    z-index: 9999;
    max-width: 100%;
}

.toast-container .toast {
    padding-bottom: 1rem;
}

.toast .close {
    margin-top: 2px;
}

.toast.hide {
    display: none;
}

.ms-ctn {
    padding: .625rem .75rem;
}

.ms-ctn input {
    background: none;
}

.ms-ctn-focus {
    background: white !important;
}

.loading-container {
    background: rgba(50,50,50,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-container.fade:not(.show) {
    display: none;
}

.picker-dialog {
    z-index: 1101 !important;
}

.ui-autocomplete {
    top: auto !important;
    left: auto !important;
}


/*
    Responsive Utilities
 */

@media (max-width: 575px) {
    .control-label-xs-top-1 {
        top: -1rem !important;
    }
}
@media (min-width: 992px) {
    .control-label-lg-top-1 {
        top: -1rem !important;
    }
}
@media (min-width: 1200px) {
    .control-label-lg-top-1 {
        top: -0.5rem !important;
    }
}

@media (min-width: 576px) {
    .border-sm-top {
        border-top: 1px solid #8898aa !important;
    }
    .border-sm-right {
        border-right: 1px solid #8898aa !important;
    }
    .border-sm-bottom {
        border-bottom: 1px solid #8898aa !important;
    }
    .border-sm-left {
        border-left: 1px solid #8898aa !important;
    }
    .border-sm-top-0 {
        border-top: 0 !important;
    }
    .border-sm-right-0 {
        border-right: 0 !important;
    }
    .border-sm-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-sm-left-0 {
        border-left: 0 !important;
    }
    .border-sm-x {
        border-left: 1px solid #8898aa !important;
        border-right: 1px solid #8898aa !important;
    }
    .border-sm-y {
        border-top: 1px solid #8898aa !important;
        border-bottom: 1px solid #8898aa !important;
    }
    .border-sm {
        border-top: 1px solid #8898aa !important;
        border-bottom: 1px solid #8898aa !important;
        border-left: 1px solid #8898aa !important;
        border-right: 1px solid #8898aa !important;
    }
    .border-sm-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

@media (min-width: 768px) {
    .border-md-top {
        border-top: 1px solid #8898aa !important;
    }
    .border-md-right {
        border-right: 1px solid #8898aa !important;
    }
    .border-md-bottom {
        border-bottom: 1px solid #8898aa !important;
    }
    .border-md-left {
        border-left: 1px solid #8898aa !important;
    }
    .border-md-top-0 {
        border-top: 0 !important;
    }
    .border-md-right-0 {
        border-right: 0 !important;
    }
    .border-md-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-md-left-0 {
        border-left: 0 !important;
    }
    .border-md-x {
        border-left: 1px solid #8898aa !important;
        border-right: 1px solid #8898aa !important;
    }
    .border-md-y {
        border-top: 1px solid #8898aa !important;
        border-bottom: 1px solid #8898aa !important;
    }
    .border-md {
        border-top: 1px solid #8898aa !important;
        border-bottom: 1px solid #8898aa !important;
        border-left: 1px solid #8898aa !important;
        border-right: 1px solid #8898aa !important;
    }
    .border-md-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

@media (min-width: 992px) {
    .border-lg-top {
        border-top: 1px solid #8898aa !important;
    }
    .border-lg-right {
        border-right: 1px solid #8898aa !important;
    }
    .border-lg-bottom {
        border-bottom: 1px solid #8898aa !important;
    }
    .border-lg-left {
        border-left: 1px solid #8898aa !important;
    }
    .border-lg-top-0 {
        border-top: 0 !important;
    }
    .border-lg-right-0 {
        border-right: 0 !important;
    }
    .border-lg-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-lg-left-0 {
        border-left: 0 !important;
    }
    .border-lg-x {
        border-left: 1px solid #8898aa !important;
        border-right: 1px solid #8898aa !important;
    }
    .border-lg-y {
        border-top: 1px solid #8898aa !important;
        border-bottom: 1px solid #8898aa !important;
    }
    .border-lg {
        border-top: 1px solid #8898aa !important;
        border-bottom: 1px solid #8898aa !important;
        border-left: 1px solid #8898aa !important;
        border-right: 1px solid #8898aa !important;
    }
    .border-lg-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

@media (min-width: 1200px) {
    .border-xl-top {
        border-top: 1px solid #8898aa !important;
    }
    .border-xl-right {
        border-right: 1px solid #8898aa !important;
    }
    .border-xl-bottom {
        border-bottom: 1px solid #8898aa !important;
    }
    .border-xl-left {
        border-left: 1px solid #8898aa !important;
    }
    .border-xl-top-0 {
        border-top: 0 !important;
    }
    .border-xl-right-0 {
        border-right: 0 !important;
    }
    .border-xl-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-xl-left-0 {
        border-left: 0 !important;
    }
    .border-xl-x {
        border-left: 1px solid #8898aa !important;
        border-right: 1px solid #8898aa !important;
    }
    .border-xl-y {
        border-top: 1px solid #8898aa !important;
        border-bottom: 1px solid #8898aa !important;
    }
    .border-xl {
        border-top: 1px solid #8898aa !important;
        border-bottom: 1px solid #8898aa !important;
        border-left: 1px solid #8898aa !important;
        border-right: 1px solid #8898aa !important;
    }
    .border-xl-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}