<!DOCTYPE html>
<html lang="en">
<!--/*@thymesVar id="pokemon" type="com.willstep.ptutools.dataaccess.dto.Pokemon"*/-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>PokéSheets - PTU Pokemon Generator &amp; Character Sheet</title>

    <!-- Favicon -->
    <link href="/img/exodus-ptu-icon.png" rel="icon" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

    <!-- Libraries CSS -->
    <link type="text/css" href="/css/argon.min.css" rel="stylesheet">
    <link type="text/css" href="/vendor/magicsuggest/magicsuggest.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link type="text/css" th:href="${'/css/style.css?v=' + @environment.getProperty('css.version')}" rel="stylesheet">
    <link type="text/css" th:href="${'/css/character.css?v=' + @environment.getProperty('css.version')}" rel="stylesheet">
</head>
<body>

<div class="container" id="top">
    <div class="exodus-title text-center mt-5">
        <img src="/img/pokesheets-logo.png" alt="PokéSheets for PTU 1.05">
    </div>
    <div class="row mt-4">
        <div class="text-center col-md-6 border-md-right mb-5 mb-md-0">
            <h2 class="text-danger">Make a Pokemon</h2>
            <a class="btn btn-lg btn-danger btn-block mt-5" href="/generator">Generate Pokemon</a>
            <small class="text-muted font-weight-bold">Let FATE Decide</small>
            <br/>
            <button type="button" class="btn btn-lg btn-danger btn-block mt-5" onclick="newCharacter()">New Pokemon</button>
            <small class="text-muted font-weight-bold">Let MAN Decide</small>
        </div>
        <div class="text-center col-md-6">
            <h2 class="text-danger">Load a Pokemon</h2>
            <h4 class="text-capitalize text-muted">Download from Google Drive</h4>
            <button type="button" class="btn btn-danger" id="upload-gdrive" onclick="loadFilePicker()">
                <span class="material-icons-outlined">cloud_download</span> Select File
            </button>
            <h4 class="text-capitalize text-muted mt-3">Upload from Computer</h4>
            <input type="file" class="form-control" id="upload-file" />
            <h4 class="text-capitalize text-muted"><label for="upload-paste">Or Paste JSON</label></h4>
            <textarea type="file" class="form-control" id="upload-paste"></textarea>
            <button type="button" class="btn btn-danger mt-4" onclick="uploadCharacter()">Submit</button>
        </div>
    </div>
    <footer class="text-center mt-5">
        <small>
            <a href="https://www.tapatalk.com/groups/pokemon_tabletop/ptu-exodus-new-pokemon-generator-and-pokemon-chara-t7329.html" target="_blank">About</a> |
            <a href="#" onclick="alert('Your input is super valuable, I want to make this for you! You can leave feedback on the Pokemon Tabletop Forms (click the About link) or on GitHub (click the GitHub link and go to issues) or ping me on Discord (fedorablewill#9732)!')">
                Request Feature/Report Bug</a> |
            <a href="https://github.com/fedorablewill/ptu-tools" target="_blank">GitHub</a> |
            <a href="/policy">Privacy Policy</a>
        </small>
    </footer>

</div>

<div class="toast-container"></div>


<!-- Core -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<script>
    //Remove JQuery UI conflicts with Bootstrap
    $.widget.bridge('uibutton', $.ui.button);
    $.widget.bridge('uitooltip', $.ui.tooltip);
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="/vendor/nouislider/js/nouislider.min.js"></script>
<script src="/vendor/magicsuggest/magicsuggest.min.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>

<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

<!-- Theme JS -->
<script src="/js/argon.min.js"></script>

<!-- Custom JS -->
<script th:src="${'/js/script.js?v=' + @environment.getProperty('js.version')}"></script>
<script th:src="${'/js/character.js?v=' + @environment.getProperty('js.version')}"></script>
<script th:src="${'/js/gdrive.js?v=' + @environment.getProperty('js.version')}"></script>
<script>
    function uploadCharacter() {
        let fileElem = $('#upload-file')
        if (fileElem.prop('files').length !== 0) {
            let fileReader = new FileReader()
            fileReader.onload = function () {
                buildCharacter(fileReader.result)
            };
            fileReader.readAsText(fileElem.prop('files')[0]);
        } else {
            buildCharacter($('#upload-paste').val())
        }
    }

    function buildCharacter(json) {
        $.ajax("/pokemonFragment", {
            method: "POST",
            contentType: "application/json",
            data: json
        }).done(function(response) {
            $("#top").html(response)
            initialize()
            initializeWidgets()
        }).fail(function(jqxhr, textStatus, errorThrown)  {
            alert("Error building character sheet: " + textStatus + " : " + errorThrown)
        })
    }

    function newCharacter() {
        $.ajax("/pokemon/new", {
            method: "GET",
            contentType: "application/json"
        }).done(function(response) {
            $("#top").html(response)
            initialize()
            initializeWidgets()
        }).fail(function(jqxhr, textStatus, errorThrown)  {
            alert("Error building character sheet: " + textStatus + " : " + errorThrown)
        })
    }
</script>
</body>
</html>